
%link-arrow {
	position: absolute;
	top: 0;
	height: 100%;
	line-height: 1.6;
	width: 2em;
}

.branchee-theme-1 {
	@extend .branchee-theme-base;
	li {
		border-top: 1px solid #f3f3f3;
	}
	a {
		display: block;
		position: relative;
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: underline;
		}
	}
	.branchee-toggle {
		padding: .3em;
		padding-left: 2.3em;
	}
	.branchee-toggle:before {
		@extend %link-arrow;
		line-height: 2.2;
		left: 0;
	}
	.branchee-menu-pane a {
		padding: .3em;
		padding-right: 2.3em;
	}
	.branchee-pane-target {
		@extend %link-arrow;
		right: 0;
	}
	.branchee-section {border-left:5px solid transparent;}
	.branchee-section-1 {border-color: hsla(17, 100%, 55%, 1);}
	.branchee-section-2 {border-color: hsla(47, 100%, 55%, 1);}
	.branchee-section-3 {border-color: hsla(77, 100%, 55%, 1);}
	.branchee-section-4 {border-color: hsla(107, 100%, 55%, 1);}
	.branchee-section-5 {border-color: hsla(137, 100%, 55%, 1);}
	.branchee-section-6 {border-color: hsla(167, 100%, 55%, 1);}
	.branchee-section-7 {border-color: hsla(197, 100%, 55%, 1);}
	.branchee-section-8 {border-color: hsla(227, 100%, 55%, 1);}
	.branchee-section-9 {border-color: hsla(257, 100%, 55%, 1);}
	.branchee-back a {
		background: #f3f3f3;
	}
}
