
.branchee-menu {
	position: relative;
	display: none;
	overflow: hidden;
	.branchee-open & {
		display: block;
	}
}

.branchee-menu-pane {
	position: absolute;
	top: 0;
	width: 100%;
	left: 100%;
}
.branchee-menu-pane-active {
	position: relative;
	left: 0;
}

.branchee-toggle-menu span:before {
	content: "\2630";
}
.branchee-open.branchee-toggle-menu  span:before {
	content: "✖";
}

.branchee-pane-target:after {
	content: "\203a";
}
.branchee-back .branchee-pane-target:after {
	content: "\2039";
}

.branchee-footer {
	display: none;
	.branchee-open & {
		display: block;
	}
}