

%touch-target {
	background: #f3f3f3;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-align: center;
}

.branchee-theme-base {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.branchee-pane-target,
	.branchee-toggle:before {
		@extend %touch-target;
	}
}
