@charset "UTF-8";
/**
 * branchee.scss
 * version: 1.0.0
 * author: dubbs
 * license: MIT
 */
.branchee-menu {
  position: relative;
  display: none;
  overflow: hidden; }
  .branchee-open .branchee-menu {
    display: block; }

.branchee-menu-pane {
  position: absolute;
  top: 0;
  width: 100%;
  left: 100%; }

.branchee-menu-pane-active {
  position: relative;
  left: 0; }

.branchee-toggle:before {
  content: "\2630"; }
  .branchee-open .branchee-toggle:before {
    content: "✖"; }

.branchee-pane-target:after {
  content: "\203a"; }
  .branchee-back .branchee-pane-target:after {
    content: "\2039"; }

.branchee-theme-base .branchee-pane-target, .branchee-theme-1 .branchee-pane-target,
.branchee-theme-base .branchee-toggle:before,
.branchee-theme-1 .branchee-toggle:before {
  background: #f3f3f3;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center; }

.branchee-theme-base ul, .branchee-theme-1 ul {
  margin: 0;
  padding: 0; }
.branchee-theme-base li, .branchee-theme-1 li {
  list-style: none; }

.branchee-theme-1 .branchee-toggle:before, .branchee-theme-1 .branchee-pane-target {
  position: absolute;
  top: 0;
  height: 100%;
  line-height: 1.6;
  width: 2em; }

.branchee-theme-1 li {
  border-top: 1px solid #f3f3f3; }
.branchee-theme-1 a {
  display: block;
  position: relative;
  text-decoration: none;
  color: black; }
  .branchee-theme-1 a:hover {
    text-decoration: underline; }
.branchee-theme-1 .branchee-toggle {
  padding: .3em;
  padding-left: 2.3em; }
.branchee-theme-1 .branchee-toggle:before {
  line-height: 2.2;
  left: 0; }
.branchee-theme-1 .branchee-menu-pane a {
  padding: .3em;
  padding-right: 2.3em; }
.branchee-theme-1 .branchee-pane-target {
  right: 0; }
.branchee-theme-1 .branchee-section {
  border-left: 5px solid transparent; }
.branchee-theme-1 .branchee-section-1 {
  border-color: #ff5b1a; }
.branchee-theme-1 .branchee-section-2 {
  border-color: #ffcd1a; }
.branchee-theme-1 .branchee-section-3 {
  border-color: #beff1a; }
.branchee-theme-1 .branchee-section-4 {
  border-color: #4bff1a; }
.branchee-theme-1 .branchee-section-5 {
  border-color: #1aff5b; }
.branchee-theme-1 .branchee-section-6 {
  border-color: #1affcd; }
.branchee-theme-1 .branchee-section-7 {
  border-color: #1abeff; }
.branchee-theme-1 .branchee-section-8 {
  border-color: #1a4bff; }
.branchee-theme-1 .branchee-section-9 {
  border-color: #5b1aff; }
.branchee-theme-1 .branchee-back a {
  background: #f3f3f3; }
.branchee-theme-1 .branchee-menu-item-active {
  font-weight: bold; }

.branchee-menu-pane {
  -webkit-animation-duration: .35s;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: .35s;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes exitleft {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
@keyframes exitleft {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
@-webkit-keyframes exitright {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@keyframes exitright {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@-webkit-keyframes enterright {
  0% {
    left: 100%; }
  100% {
    left: 0; } }
@keyframes enterright {
  0% {
    left: 100%; }
  100% {
    left: 0; } }
@-webkit-keyframes enterleft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes enterleft {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
.branchee-transition-exitleft {
  -webkit-animation-name: exitleft;
  animation-name: exitleft; }

.branchee-transition-exitright {
  -webkit-animation-name: exitright;
  animation-name: exitright; }

.branchee-transition-enterright {
  -webkit-animation-name: enterright;
  animation-name: enterright; }

.branchee-transition-enterleft {
  -webkit-animation-name: enterleft;
  animation-name: enterleft; }

.branchee-pane-target:after, .branchee-toggle:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.branchee-pane-target:after {
  font-size: .7em;
  content: "\f054"; }
  .branchee-back .branchee-pane-target:after {
    content: "\f053"; }

.branchee-toggle:before {
  font-size: .8em;
  content: "\f0c9"; }
  .branchee-open .branchee-toggle:before {
    content: "\f00d"; }

/*# sourceMappingURL=branchee.css.map */
