body {
	font-family: 'Open Sans', sans-serif;
}
#container {
	width: 17em;
	font-size: 24px;
	margin: 1em auto;
}
#example-1,
#example-2,
#example-3,
#example-4, 
#example-5,
#example-6 {
	float: left;
	width: 300px;
}

#example-5 {
	clear: left;
}
