
.branchee-menu {
	position: relative;
	display: none;
	overflow: hidden;
	.branchee-open & {
		display: block;
	}
}

.branchee-menu-pane {
	position: absolute;
	top: 0;
	width: 100%;
	left: 100%;
}
.branchee-menu-pane-active {
	position: relative;
	left: 0;
}

.branchee-toggle-menu-icon-open {
	.branchee-open & {
		display: none !important;
	}
}
.branchee-toggle-menu-icon-close {
	display: none !important;
	.branchee-open & {
		display: inline-block !important;
	}
}

.branchee-icon-open {
	&:before {
		content: "\2630";
	}
}
.branchee-icon-close {
	&:before {
		content: "✖";
	}
}

.branchee-icon-arrow-right:after {
	content: "\203a";
}
.branchee-icon-arrow-left:after {
	content: "\2039";
}

.branchee-footer {
	display: none;
	.branchee-open & {
		display: block;
	}
}
